.panel.panel-info(ng-controller="DecennialByStateController as vm")
  .panel-heading
    h3.panel-title Get Population Data by State
  .panel-body
    form.form-horizontal
      fieldset
        .form-group
          label.col-xs-4.control-label(for="state") State
          .col-xs-8
            select#state.form-control(ng-model="vm.selectedState" ng-options="state as state.name for state in vm.states | orderBy:'name' track by state.id")
        .form-group#data-type
          label.col-xs-4.control-label Data Granularity
          .col-xs-8
            .radio
              label
                input(type="radio" name="data-type" id="data-type-zip" value="zip" checked="checked") 
                | Population by Zip Code
            .radio
              label
                input(type="radio" name="data-type" id="data-type-tract" value="tract") 
                | Population by County, Tract and Block Group
            .radio
              label
                input(type="radio" name="data-type" id="data-type-congressional-district" value="congressional-district") 
                | Population by Congressional Districts
        .form-group
          .col-xs-8.col-xs-offset-4
            button#get-data.btn.btn-success Get Data
