doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    base(href='/')
    title United States Census Web Data Connector
    // CSS
    link(href='styles/app.css', rel='stylesheet')
    // custom styles
    // JS
    script(src='js/bower-vendor.js')
    script(src='js/vendor.js')
    // ANGULAR CUSTOM
    script(src='js/app.js')
  body(ng-app='censusApp')
    // HEADER
    nav.navbar.navbar-default.navbar-fixed-top
      .container
        .navbar-header
          a.navbar-brand(href='/') United States Census Web Data Connector
    .container.page-container
      .row
        .col-xs-4
          ul.nav.nav-pills.nav-stacked
            li.decennial
              a(href='/decennial') Decennial Census Data
            li.acs
              a(href='/acs') ACS Five-Year Data
        .col-xs-8
          div(ng-view='')
