doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    base(href='/')
    title United States Census Web Data Connector
    // CSS
    link(href='styles/app.css', rel='stylesheet')
    // custom styles
    // JS
    script(src='js/bower-vendor.js')
    // ANGULAR CUSTOM
    script(src='js/app.js')
  body(ng-app='censusApp' ng-controller="DecennialController")
    // HEADER
    nav.navbar.navbar-default.navbar-fixed-top
      .container
        .navbar-header
          a.navbar-brand(href='/') United States Census Web Data Connector
    .container
      div(ng-view='')
